body{
	background-image:url("fon.jpg");
	}
#logo{
	float: left;
	margin-right:5px;
	margin-bottom:0;
	position:relative;
	left:auto;
	} 
#hat{
	padding:5px;
	background-color:rgba(0,0,0,.1);
	border:solid black 1px;
	position:relative;
	font-family:Modern No.20;
	font-size:20pt;
	height:32mm;
	line-height:100px;
	}
* {
	margin:0;
	padding:0;
	outline:none
	}
h1{
	color:47,79,79;
	}
#paddform{
	text-align:center;
	}
#TheForm{
	color:47,79,79;
	font-size:15pt;
	display: block; 
	width: 33%; 
	height: auto; 
	margin: 0 auto;
	border:solid black 2px;
	padding-left:20px;
	padding-bottom:20px;
	}
nav.menu {
	margin: 10px 0;
	max-width:300px;
	display: block; 
	width: 33%; 
	height: auto; 
	margin: 10px auto;
	}
nav.menu ul{
	text-align:center;
    padding:0;
    margin:0;
    list-style: none;
	position: relative;
	border:solid black 2px;
	}		
 nav.menu ul li{
    margin: 0px -7px 0 0;
    display:inline-block;
    }
nav.menu ul a{
	display:block;
	padding:0 18px;
    color:black;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
	}
nav.menu a:hover {
    background-color: #DCDCDC;
	}
.ssylki{
	border:solid black 2px;
	padding:10px;
	text-align:center;
	max-height:900px;
	font-size:15pt;
	display: block; 
	width: 33%; 
	height: auto; 
	margin: 10px auto;
	}
.tab table{ 
    width: 300px;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
	text-align:center;
	margin: auto;
	}
.tab th {
    background: grey;
    color:47,79,79; 
   }
.tab th {
    padding: 4px;
	border:solid 2px black;
   } 
tr:nth-child(even) {
    background: rgba(128, 128, 128);
   } 
tr:nth-child(odd) {
    background: rgba(192, 192, 192); 
   }
#podval{
	color:black;
	margin:5px;
	}